/**********************
 ****** GENERALS ******
 **********************/
html, body, footer {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
}

html , body, header, main, 
h1, h2, h3, h4, h5, h6, hr,
ol, ul, li, a, div, span, p, button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li, ol, ul, a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 69.625rem;
  width: 100%;
  margin: 0 1.5rem;
}

.section, .footer {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  cursor: pointer;
  border: 1px solid $black;
  justify-content: center;
  align-items: center;
  background: $white;

  @include transition;

  &-content {
    text-transform: uppercase;
    @include typ('Alata', 1rem, 400, $black);
  }

  &:hover {
    background: $black;
    @include transition;

    .btn-content {
      color: $white;
      @include transition;
    }
  }
}

// Auxiliar pseudo-class used to underline
.subtitled {
  position: relative;

  &:hover::before {
    display: block;
    position: absolute;
    top: 2rem;
    left: 50%;
    content: '';
    height: 2px;
    width: 1.5rem;
    background: $white;
    transform: translateX(-50%);
  }
}
