/**********************
 ****** GENERALS ******
 **********************/
html, body, footer {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
}

html , body, header, main, 
h1, h2, h3, h4, h5, h6, hr,
ol, ul, li, a, div, span, p, button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li, ol, ul, a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 69.625rem;
  margin: 0 1.5rem;
}

section {
  display: flex;
  justify-content: center;
}

/* AUXILIAR */
.main {
  background: blue;
}
