.header-wrapper {
  position: fixed;
  display: flex;
  top: 4rem;
  z-index: 999;
  height: auto;
  width: 100vw;
  padding: 0 1.5rem;
  justify-content: center;
  align-items: center;
  @include transition;

  &.scrolled {
    top: 0;
    height: 3rem;
    background: $black;
    @include transition;
  }
}

.header {
  display: inline-flex;
  height: 2rem;
  max-width: 69.625rem;
  width: 100%;

  justify-content: space-between;
  
  .logo-wrapper {
    height: 100%;

    .logo {
      height: 100%;
    }
  }

  .menu-btn {
    display: none;
  }

  .navbar {
    .menu {
      display: inline-flex;
      height: 100%;
      width: 24rem;
      justify-content: space-between;

      @include typ("Alata", .95rem, 400, $white);

      &-item {
	position: relative;
	display: flex;
	cursor: pointer;
	align-items: center;

	// &:hover {
	//   border-top: 2px solid transparent;
	//   border-bottom: 2px solid $white;
	// }

	// Defining the underline from the nav
	&:hover::before {
	  display: block;
	  position: absolute;
	  top: 2rem;
	  left: 50%;
	  content: '';
	  height: 2px;
	  width: 1.5rem;
	  background: $white;
	  transform: translateX(-50%);
	}
      }
    }
  }
}

/********************
 ****** MOBILE ******
 ********************/
@media(max-width: 800px) {
  .header-wrapper {
    top: 2.5rem;
  }
  .header {
    height: 1.5rem;

    .logo-wrapper {
      z-index: 2;
    }

    // Button burger container
    .menu-btn {
      display: flex;
      z-index: 2;
      cursor: pointer;
      height: 100%;
      width: 1.5rem;
      align-items: center;

      // Burger button closed state
      &_brg {
	position: relative;
	width: 1.5rem;
	height: 2px;
	background: $white;
	@include transition;

	&::before {
	  position: absolute;
	  top: -5px;
	  content: "";
	  width: 1.5rem;
	  height: 2px;
	  background: $white;
	  @include transition;
	}

	&::after {
	  position: absolute;
	  top: 5px;
	  content: "";
	  width: 1.5rem;
	  height: 2px;
	  background: $white;
	  @include transition;
	}
      }
	
      // Burger button open state
      .open {
	background: transparent;
	transform: rotate(360deg);
	@include transition;

	&::before {
	  top: 0;
	  transform: rotate(315deg);
	  @include transition;
	}

	&::after {
	  top: 0;
	  transform: rotate(-315deg);
	  @include transition;
	}
      }
    }
    
    // Navbar closed state (TO FIX);
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100vh;
      width: 100vw;
      background: $black;

      // to fix
      opacity: 0;
      display: none;
      @include transition;

      // Items structure (flex direction, spacing, fonts, etc...)
      .menu {
	padding: 4.5rem 1.5rem;
	flex-flow: column wrap;
	justify-content: center;

	&-item {
	  margin-top: 1rem;
	  margin-right: 2rem;

	  text-transform: uppercase;
	  @include typ('Josefin Sans', 1.5rem, 400, $white);
	}
      }
      
      // Navbar open state (TO FIX)
      &.open {
	display: block;
	opacity: 1;
	// to fix
	animation: open .75s ease-in-out forwards;

	.menu-item {
	  transform: translateX(0);
	}
      }
    }
  }
}


