// Adding animation to the image and text
.first-section {
  .img-wrapper {
    .section-img {
      transform: translateX(-50%);
      opacity: 0;
      @include transition;
    }

    &.observed {
      .section-img {
	transform: translateX(0);
	opacity: 1;
	@include transition;
      }
    }
  }

  .content {
    .content-title, .content-text {
      transform: translateX(50%);
      opacity: 0;
      @include transition;
    }

    &.observed {
      .content-title, .content-text {
	transform: translateX(0);
	opacity: 1;
	@include transition;
      }
    }
  }
}

// Adding animation to the grid items
.second-section {
  .grid {

    &-item {
      &_img {
        transform: translateY(60%);
        opacity: 0;
      }
    }

    .observed {
      .grid-item_img {
	animation: bottomTop .75s ease forwards;
      }
    }
  }
}
