@import 'variables';
@import 'generals';
@import 'header';
@import 'hero';
@import 'first-section';
@import 'second-section';
@import 'footer';
@import 'interObs';


.attribution { 
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
  color: white;

  a {
    color: hsl(228, 45%, 44%);
  }
}
